{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block main %}


<div id="main_div"></div>

<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDN0d1r29U0X6J84cxsXQENU-x5q_RxZZQ",
    authDomain: "chron-399c2.firebaseapp.com",
    databaseURL: "https://chron-399c2.firebaseio.com",
    storageBucket: "chron-399c2.appspot.com",
    messagingSenderId: "4885211469"
  };
  firebase.initializeApp(config);
</script>
<!-- <script src="{% static 'scripts/chat.js' %}"></script> -->

<!-- Menu Toggle Script -->
<!--     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->
{% render_bundle 'vendors' %}
{% render_bundle 'App' %}
{% endblock %}